{% extends 'base.html' %}
<!-- {% block title %}Welcome to my blog{% endblock %} -->

{% block nav %}
    <a class="pure-button" href="/blog/new">New</a>
    {% if user.is_authenticated %}
        <a class="pure-button" href="/blog/logout">Logout</a>   
    {% endif %}
{% endblock %}

{% block posts %}
    <h2>Posts</h2>
    {% if posts %}
        <ul>
        {% for post in posts %}
            <li><a href="/blog/view/{{post.slug}}">{{ post.title }} - {{post.pub_date}}</a></li>
        {% endfor %}
        </ul>
    {% else %}
        <p>There are no posts.</p>
    {% endif %}

{% endblock %}
</body>